li.homeChart {
    display: flex;
    margin-right: 4rem;
}

div.ProgressRing {
    position: relative;
    margin-right: 1rem;
}

span.Percentage {
    position: absolute;
    right: 13px;
    top: 18px;
}

p.counter {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.44px;
    color: var(--white);
}

p.categoryName {
    width: 55px;
    height: 13px;
    color: #9ca1b2;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.32px;
}