.statisticBox {
    background-color: var(--main-bg-color);
}

img {
    width: 100%;
}

.SalesHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0;
    color: var(--white);
    background: var(--main-bg-color);
}

.SalesHeader h3 {
    margin: 0;
}

.SalesHeader span {
    color: var(--secondary);
}

.calendar {
    background: var(--main-bg-color);
    color: #fff;
    border: none;
}

.react-calendar__navigation {
    height: 55px;
    background: #3a3e52;
}
